#main
{
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-input
{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#main > *
{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

form > *
{
    margin: 10px;
}

span
{
    font-size: medium;
    width: 200px;
}