#results-header
{
    position: absolute;
    top: 70px;
    left: 20px;
    right: 20px;
    visibility: hidden; /* initially hidden so that 0 results is not shown until results present */
    display: flex;
    justify-content: space-between;
}


#results
{
    position: absolute;

    top: 100px;
    bottom: 20px;
    left: 20px;
    right: 20px;
    visibility: hidden; /* initially hidden so that the (empty) results table is not shown until results present */
}

#no-results
{
    position: absolute;
    top: 25%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}

#spinner
{
    position: absolute;
    top: 40px;
    right: 20px;
}

#download-button
{
    display: none; /* hidden until download is complete */
}