
html
{
    background-color: white;
    font-size: large;
}

#details
{
    display: none; /* hide until known if valid variant url or not */
}

#not-found
{
    position: absolute;
    top: 25%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none; /* hide until known if valid variant url or not */
}

#sup-wrapper
{
    display: none;
}

#direct-mutations
{
    display: none; /* hide until we know we have mutations to show */
}

#download-mutations
{
    margin-bottom: 10px;
    margin-top: 10px;
}

.variant-detail-category-label
{
    font-weight: bold;
    padding-right: 10px;
}

.comment
{
    margin-bottom: 10px;
}

table, th, td {
    border: 1px solid;
}